* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-size: 1em;
  line-height: 1.5;
  background-color: #EFEEEA; /*Parnip*/
  font-family: 'Montserrat', 'Helvetica', sans-serif;
}

.main-header {
  background-color: #007C89; /*Kale*/
  color: #EFEEEA; /*Parnip*/
  font-family: 'DM Serif Display', 'Times New Roman', serif;
  box-shadow: 0 1px 6px rgba(0,0,0,.1);
}

.main-navbar ul {
  margin: 0;
  padding: 0;
}

.main-navbar a {
  color: #EFEEEA; /*Parnip*/
  font-family: 'Playfair Display', serif;
  font-size: 0.75em;
  font-weight: normal;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.1em;
}

.main-navbar ul li a:hover {
  background-color: #66b0b8;
}

.main-navbar #onpage {
  text-decoration: underline;
}

/* Flex layout: (mobile first, responsive) */
img {
  max-width: 100%;
  height: auto;
}

.header_container {
  max-width: 100%;
  padding: 20px;
  margin: 0 auto;
}

.main-header .header_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#header_image {
  flex-shrink: 0;
}

#header_title h1 {
  flex-grow: 1;
  padding-left: .5em;
  color: #EFEEEA; /*Parnip*/
  font-family: 'DM Serif Display', 'Times New Roman', serif;
  font-weight: normal;
  text-align: center;
}

.main-navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: #007C89; /*Kale*/
  background-image: linear-gradient(#0093A3, #007C89, #0093A3);
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.6);
  color: #EFEEEA; /*Parnip*/
  font-family: 'Playfair Display', serif;
}

.main-nav-list {
  display: flex;
  align-items: center;
}

.main-navbar ul {
  margin: 1em 0 .5em;
  text-align: center;
}

.main-navbar li {
  display: inline;
}

.main-navbar a {
  display: inline-block;
  padding: .5em 1.5em;
}

@media (min-width: 960px) {
  .main-header .header_container  {
    justify-content: space-between;
  }
}

main {
  display: flex;
}

article {
  flex-grow: 3;
  flex-shrink: 0;
  flex-basis: 300px;
}

aside {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 150px;
}

#footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding 1em 0;
  background-color: #241C15; /*Peppercorn*/
  color: #EFEEEA; /*Parnip*/
}

#footer div h2 ul li p {
  text-align: center;
}

#container_social_links {
  background-color: #241C15; /*Peppercorn*/
  color: #EFEEEA; /*Parnip*/
  text-align: center;
}

p#container_social_links {
  text-align: center;
}

.social_links {
  list-style: none;
}

.link_item {
  display: inline-block;
  transition: transform .2s; /* Animation */
}

.link_item a:hover {
  transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

/*restyling hyperlink*/
.hyperlink_item1 {
  color: #241C15; /*Peppercorn*/
  white-space: nowrap;
  text-decoration: underline;
}

.hyperlink_item2 {
  color: #EFEEEA; /*Parnip*/
  white-space: nowrap;
  text-decoration: underline;
}

#feature {
  margin: 0;
  padding: 25px 35px 35px 50px;
  background-color: #A8D6BD;
  color: #241C15; /*Peppercorn*/
}

figure {
  display: block;
  margin: 0px auto;
}
  
figure img {
  vertical-align: top;
  display: block;
  margin: 0px auto;
  max-width: 100%;
  height: auto;
}

figure figcaption {
  display: block;
  margin: 0px auto;
  text-align: center;
  padding: 5px 0;
}

h1, h2, h3, h4 {
  font-family: 'Playfair Display', serif;
}

h1 {
  font-size: 2.75rem;
}

h2 {
  font-size: 2.25rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.25rem;
}

p {
  font-size: 1rem;
}

.main_content p {
  text-align: left;
}

.gallery_container {
  display: flex;
}

.image_gallery {
  flex: 1;
  margin: 5px;
}

.gallery_image {
  width: 100%;
  border-radius: 50%
}

/* Responsive iframe */
.iframe-container {
  overflow: hidden;
  padding-top: 56.25%;
  position: relative;
}

.iframe-container iframe {
  border: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

/* 4x3 Aspect Ratio */
.iframe-container-4x3 {
  padding-top: 75%;
}

/* CSS rules for a map */
#map_wrap {
  width: 90%;
  height: 75%;
  border-radius: 3em;
  border: 3px solid black;
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

#map {
  height: 100%;
  width: 100%;
}

/* CSS rules for accordion with symbols */
button.accordion {
  background-color: #007C89;
  background-image: linear-gradient(#0093A3, #007C89, #0093A3);
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.6);
  color: #FFFFFF; /* Change me! */
  /*border-radius: 3em;*/
  /*border: 3px solid black;*/
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 16px;
  transition: 0.4s;
}

button.accordion.active, button.accordion:hover {
  background-color: #003C40; 
}

button.accordion:after {
  content: '\002B'; /* Unicode character plus sign */
  color: #003C40; /* #00B4BF ligther alternative */
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

button.accordion.active:after {
  content: '\2212'; /* Unicode character minus sign */
}

div.panel {
  padding: 0 18px;
  background-color: #A8D6BD;
  max-height: 0;
  overflow: hidden;
  transition: max-height .2s ease-out;
}

/*CSS rules for signup and payment pages*/

#container {
  text-align: center;
  margin: auto;
  background:#a8d6bd;
}

#container_billing {
  text-align: center;
  margin: 25px auto;
  background:#a8d6bd;
}

legend {
  color: #000000;
  font-size: 30px;
  margin: 10px auto;
  font-family: 'Playfair Display', serif;
}

label {
  display: block;
  text-align: center;
  margin: 10px auto;
  font-size: 1.3em;
  color: #000000;
}

input { 
  display: block;
  width: 100%;
  padding: 12px 20px;
  margin: 10px auto;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
}

.button .previous .next {
  width: 100%;
  padding: 12px 20px;
  margin: auto;
  border-radius: 6px;
  box-sizing: border-box;
}

#submit {
  width: 40%;
  padding: 12px 20px;
  margin: 10px auto;
  border-radius: 6px;
  box-sizing: border-box;
  background-color: #007C89;
  color: white;
}

.button a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}

.button a:hover {
  background-color: #ddd;
  color: #000000;
}

#next {
  width: 7%;
  padding: 12px 20px;
  margin: auto;
  border-radius: 6px;
}

/*CSS rules for contact page and form*/



.wrapper{
  width: 50%;
  max-width: 400px;
  background:#a8d6bd;
  position: relative;
  margin: auto;
  padding: 20px 30px;
  box-sizing: border-box;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 0 10px #000000b3; 
  font-family: "Montserrat", sans-serif;
}

.wrapper h2{
  margin-top: 0;
  font-weight: 200
}

.wrapper .input_field{
  margin-bottom: 10px;
}

.wrapper .input_field input[type="text"],
.wrapper textarea{
 width: 100%;
  border: none;
  background: #EDEBD9;
  outline: none;
  font-size: 10px;
  margin-top: 6px;
}

.wrapper textarea{
  resize: none;
  height: 80px;
}

.wrapper .btn input[type="submit"]{
  border: 0px;
  margin-top: 15px;
  padding: 10px;
  text-align: center;
  width: 100%;
  background:  #007C89;
  color: #332902;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: bold;
  border-radius: 25px;
  cursor: pointer;
}

#error_message{
  margin-bottom: 20px;
  background: #fe8b8e;
  padding: 0px;
  text-align: center;
  font-size: 14px;
  transition: all 0.5s ease;
}

@media (min-width: 768px) {
  input {
    width: 20%
  }
  
  #submit {
    width: 30%;
  }
    
  .txtb label {
    display: inline-block;
    font-size: 12px;
  }
}


